/*
.*
*.aps
!/res/
!/src/
!/.clang-format
!/.clang-tidy
!/.editorconfig
!/.gitattributes
!/.gitignore
!/check.cmake
!/CMakeLists.txt
!/CMakeSettings.json
!/license.txt
!/make.cmd
!/makefile
!/readme.md
